<div class="row">
	<div class="col-sm-12">
		<h1>What is this?</h1>
		<p>
			As a contractor, I work with recruitment consultants an awful lot!
		</p>
		<p>
			Whatever your opinion is of recruitment consultants, the fact remains that 80% of job roles are filled in by a recruitment consultant. Only 20% of roles are filled in direct.
		</p>
		<p>
			I use this app as a personal database for all the recruiters I come across. Mainly to weed out the bad ones and to ensure I get in touch with the right consultants when I get back to the market.
		</p>
		<p>Feel free use, modify and hack away!</p>

		<h2>Todo</h2>
		<ul>
			<li>Create CV section which allows the ability to add all recruitment firms that has a copy of a particular CV</li>
			<li>
				<p>
					Show all CV's that recruiter has visibility on based on his recruitment firm past &amp; present
				</p>
				<p>Need to see the following:</p>					
				<ul>
					<li>Job applied for</li>
					<li>CV</li>
					<li>Application date</li>
				</ul>
			</li>
			<li>Add rating functionality - simple like / dislike functionality</li>
		</ul>
	</div>
</div>